.container{
    width: 100%;
    margin: auto; 

}
.container ul{
    margin:0;
}
body {
    margin: 0;
    padding: 0;
    background-color: #F0C0C0;
}
header {
    box-shadow: 0 3px 5px #cccccc;
    padding: 9px 0px;
    position: fixed;
    z-index: 1;
    overflow: hidden;
    background: white;
    background-color: #479c25;
}



.navbar {
    list-style-type: none;
    font-size: 12px;
    
}

li.navitem{
    display: inline;
    border-right: 1px solid;
}

li.navitem a{
    padding: 0 9px 0 9px;
    color:#555555;
}

li.navitem a:link{
    text-decoration: none;   
}
li.navitem a:hover{
    text-decoration: underline;
    color: #0654BA;
}
iframe{
    height: 100%;
    width: 100%;
}

#pine_set{
    margin-top:-10%;
    margin-left: 25%;
    width:50%;
}

#column1 {
    width: 15%;
    height: 100%;
    position: fixed;
    margin-top: 37px;
    background-color: #DBBAA2;
}

#column1 div{
    display: inline;
}
#set_iframe{
    width: 100%;
    height:100%;
}

#column2 {
    margin-left: 15%;
    float: left;
    width: 85%;
    
}

#web_content{
    padding-left: 10%;
}
.clearfix{
    clear: both;
}

