.container{
    width: 100%;
    margin: auto; 

}
.container ul{
    margin:0;
}
.clearfix{
    clear: both;
}
body{
    margin:0;
    padding: 0;
    background-color: #F0C0C0;
}
header{
    box-shadow: 0 3px 5px #cccccc;
    height: 36px;
    position: fixed;
    z-index: 1;
    overflow: hidden;
    background: #479c25;
}

ul{
    list-style-type: none;
    padding: 0;
}

/*nav*/
.navbar{
    list-style-type: none;
    font-size: 12px;
}
li embed{
    height: 200%;
    margin-top: -20px;
}
li.navimg{
    float: left;
    display: inline;
    margin: 0;
    padding: 0;
}
li.navitem{
    padding:10px 10px;
    float: right;
    display: inline;
    border:none;
}

li.navitem a{
    padding: 0 9px 0 9px;
    color:#555555;
}

li.navitem a:link{
    text-decoration: none;   
}
li.navitem a:hover{
    text-decoration: underline;
    color: #0654BA;
}

/*list*/
#column1{
    width:15%;
    height: 100%;
    position: fixed;
    margin-top:37px;
    background-color: #DBBAA2;
    float: left;
}
#column1 div{
    display: inline;
}

.listbar{
    padding-top: 20px; 
    padding-left: 10px;
}

/*list 文字*/
.listitem{
    border:none;
    font-size: 16px;
    line-height: 30px;
}

li.listitem a{
    color:#555555;
}

li.listitem a:link{
    text-decoration: none; 
}

li.listitem a:hover{
    text-decoration: underline;
    color: #0654BA;
}

.set_li_position{
    padding-left: 20px;
}

/*content*/

#column2{
    margin-top:40px;
    margin-left: 17%;
    float:left;
    width: 85%;
}

#pine_set{
    margin-top:-10%;
    margin-left: 25%;
    width:50%;
}

#set_ath_img{
    width: 75%;
    margin-left: 5%; 
}
.content{
    padding-left: 5%; 
}
/*圖片*/
.pic_content {
    padding-left: 5%;
    font-size: 16px;
}
/*文字*/
.set_content_title_font_size{
    font-size:24px;
}

.set_upload_page{
    width: 75%;

}


@media screen and (max-width: 768px) {
 
    #column1{
        width:20%;
        height: 100%;
        position: fixed;
        margin-top:37px;
        background-color: #DBBAA2;
        float: left;
    }

    .listitem{
        border:none;
        font-size: 12px;
        line-height: 30px;
    }

    .pic_content {
        padding-left: 5%;
        font-size: 12px;
    }
    
    .set_content_title_font_size{
        font-size:16px;
    }
    

}
