.container{
    width: 20%;
    margin: auto; 
    float: left;
}
.container ul{
    margin:10px 0 0 0;
    height: 100%;
}

ul{
    list-style-type: none;
}
body{
    margin:0;
    padding: 0;
}
            
.navbar{
    padding-top: 20px; 
}

.navitem{
    font-size: 16px;
    line-height: 24px;

}
li.navitem a{
    padding: 0 9px 0 9px;
    color:#555555;
}

li.navitem a:link{
    text-decoration: none; 
}
li.navitem a:hover{
    text-decoration: underline;
    color: #0654BA;
}